#page-content {
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;

    h1 {
        font-weight: 200;
    }
}

@media (min-width: 1200px) {
    #page-content {
        height: calc(100vh - 112px);
    }
}
