
#app {
  color: red;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #678;
}
h1, h2, h3, h4, h5 {
  line-height: 1.2;
}
section {
  h1, h2, h3 {
    font-weight: 300;
  }
}
p {
  font-weight: 400;
  line-height: 1.2;
}
li {
  font-weight: 400;
  line-height: 1.5;
}
